body {
    color: rgba(57, 112, 43, 0.486);
    background-color: aquamarine
}

.navbar {
    padding 1rem;
    background-color: #f3ef1e;
}

.text-black {
    color: darkgreen;
    background-color: darksalmon;
}

.lead {
    color: deeppink;
}

.container {
    margin-bottom: 10%;
    margin-right: 10%;
    /* background-color: deepskyblue; */
}

h1 {
    font-style: italic;
    font: red serif;
    background-image: url("https://images.unsplash.com/photo-1603726806543-baf5249fb972?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.btn-primary:hover {
    background-color: rgba(21, 156, 156, 0.589);
    color: white;
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1603726806543-baf5249fb972?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#low {
    margin-bottom: 30%;
}

#love {
    background-color: darkseagreen;
}

#tube {
    background-color: chartreuse;
}


/* footer {
    width: max-content;
    height: max-content;
    background-image: cross-fade();
} */